*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header{
  background-color: #ffff;
  background-size: cover;
  background-position: center;
}
.footer{
  background: #FFF1F1;
  color: #000;
  height: 200px;
  position: relative;
}
.footer .footer-bottom{
  background: #ffff;
  color: #000;
  border-top: 1px solid #C57D7D;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 5px;
  text-align: center;
}
.navbar ul{
  display: flex;
  justify-content: relative;
  align-items: center;
  margin:auto;
}
.navbar ul li{
  list-style: none;
  margin-top: 20px;
}
.navbar ul li a{
  text-decoration: none;
  color: #000;
  padding: 5px 30px;
  transition: 0.5s ease;
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.form-dropdown {
  display: none;
  position: absolute;
  z-index: 999;
  min-width: 160px;
}

.form-dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.hovering:hover .form-dropdown {
  display: block;
}

.container{
  background: #FFF1F1;
  height: 60px;
  width: auto;
  box-shadow: 0px 5px 5px gray;
} 

.container .navbar ul li a.active{
  text-decoration: underline;
  color: #F94688;
}
ul li a:hover{
  color: #F94688;
}

.main{
  margin: auto;
}

.title{
  position: absolute;
  top: 45%;
  left: 50%;
  text-align: center;
  line-height: 1.5cm; 
  transform: translate(-50%,-50%);
}
.title h1{
  color: #C57D7D; 
  font-size: 65px;
}

.button{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.btn{
  background-color:  #Fff;
  border: 1px solid #C57D7D;
  padding: 10px 20px;
  color: #C57D7D;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 20px;
  transition: 0.4ms ease;
}
.btn:hover{
  background-color:  #C57D7D;
  color: #ffff;
}

.search{
display: flex;
background: #ffff;
margin-top: 15px;
margin-left: 30px;
float: left;
outline: none;
}
.search-icon{
  color: #000;
  font-size: 20px;
  cursor: pointer;
  margin-right: 10px;
}
.search .search-icon{
  left: 15px;
  top: 10%;
  color: #000;
  transform: translateY(10%);
}
.search input[type=search]{
  padding: 7px 10px;
  border: none; 
  background-color: #Ffff;
  font-size: 16px;
  font-family: calibri;
  width: 330px;
  outline: none;
}

.body {
  background-color: #fff1f1;
  min-height: 100vh;
  padding: 10% 5%;
}

.row {
  display: block;
}

.col {
  width: 100%;
}

.header {
  color: #e43737;
  font-size: 32px;
  line-height: 36px;
  margin-top: 20px;
}

.description {
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}

.red-btn {
  background-color: #e43737;
  transition: all 200ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 12px 25px;
  border: 0;
  cursor: pointer;
  margin-top: 30px;
}

.red-btn:hover {
  background-color: black;
}

.col > img {
  width: 100%;
  margin-top: 20px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 20%;
}

.col-4 {
  margin-top: 50px;
}

.col-4 > img {
  width: 80px;
  height: 80px;
  margin-bottom: 16px;
  object-fit: cover;
}

.col-4 > h3 {
  color: #e43737;
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.center {
  text-align: center;
}

.w-50 {
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

@media(min-width: 479px) {
  .col-4 > p {
    width: 80%;
    margin: 0 auto;
  }
}

@media(min-width: 767px) {
  .col-4 > p {
    width: 60% !important;
  }
}


@media(min-width: 991px) {

  .row {
    display: flex;
  }

  .col {
    width: 50%;
    padding: 3%;
  }

  .col-4 {
    width: 40%;
    margin: 1%;
  }

  .content {
    margin-top: 11%;
  }

  .content-mt-50 {
    margin-top: 50%;
  }

  .col-4 > p {
    width: 100% !important;
  }
}

@media(min-width: 1200px) {
  .col-4 > p {
    width: 50%;
  }
}

