*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri;
  }
  
  header{
    background-color: #ffff;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  .footer{
    background: #FFF1F1;
    color: #000;
    height: 200px;
    position: relative;
  }
  .footer .footer-bottom{
    background: #ffff;
    color: #000;
    border-top: 1px solid #C57D7D;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 5px;
    text-align: center;
  }
  .navbar ul{
    display: flex;
    justify-content: relative;
    align-items: center;
    margin:auto;
  }
  .navbar ul li{
    list-style: none;
    margin-top: 20px;
  }
  .navbar ul li a{
    text-decoration: none;
    color: #000;
    padding: 5px 30px;
    transition: 0.5s ease;
  }
  
  .container{
    background: #FFF1F1;
    height: 60px;
    width: auto;
  } 
  
  .container .navbar ul li a.active{
    text-decoration: underline;
    color: #F94688;
  }
  ul li a:hover{
    color: #F94688;
  }
  
  .main{
    margin: auto;
  }
  
  .title{
    position: absolute;
    top: 45%;
    left: 50%;
    text-align: center;
    line-height: 1.5cm; 
    transform: translate(-50%,-50%);
  }
  .title h1{
    color: #C57D7D; 
    font-size: 65px;
  }
  
  .button{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .btn{
    background-color:  #Fff;
    border: 1px solid #C57D7D;
    padding: 10px 20px;
    color: #C57D7D;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 20px;
    transition: 0.4ms ease;
  }
  .btn:hover{
    background-color:  #C57D7D;
    color: #ffff;
  }
  
  .search{
  display: flex;
  background: #ffff;
  margin-top: 15px;
  margin-left: 30px;
  float: left;
  outline: none;
  }
  .search-icon{
    color: #000;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
  }
  .search .search-icon{
    left: 15px;
    top: 10%;
    color: #000;
    transform: translateY(10%);
  }
  .search input[type=search]{
    padding: 7px 10px;
    border: none; 
    background-color: #Ffff;
    font-size: 16px;
    font-family: calibri;
    width: 330px;
    outline: none;
  }
  
  .events-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 30vh;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
  }
  
  * {box-sizing:border-box}
  /* Slideshow container */
  .slideshow-container {
    top: 181px;
    right: 33px;
    width: 654px;
    height: 672px;
    z-index: 100;
    object-fit: cover;
    position: absolute;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .active, .dot:hover {
    background-color: #FFF1F1;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  .events-text {
    top: 109px;
    color: #e43737;
    right: 189px;
    position: absolute;
    font-size: 45px;
    font-style: normal;
    font-family: calibri;
    font-weight: 600;
    text-transform: capitalize;
  }
  
  .events-fbtext {
    top: 109px;
    color: #e43737;
    left: 189px;
    position: absolute;
    font-size: 45px;
    font-style: normal;
    font-family: calibri;
    font-weight: 600;
    text-transform: capitalize;
  }
  iframe
  {
    top: 181px;
    left:70px;
    width: 500px;
    height: 672px;
    z-index: 100;
    position: absolute;
    object-fit: cover;
  }
  @media(max-width: 767px) {
    .events-text {
      color: #FF000A;
    }
  }