<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wander Pets | Adopt</title>

  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link href="res.css" rel="stylesheet" />
  <link href="adopt.css" rel="stylesheet" />
</head>

<body>
  <header>
    <div class="container">
      <div class="search">
        <input type="search" placeholder="Search">
        <i class="uil uil-search search-icon"></i>
      </div>
      <div class="navbar">
        <ul>
          <li> <a href="index.html">Home</a></li>
          <li> <a href="volunteer">Volunteer</a></li>
          <li> <a href="tr">Tips&Recommendations</a></li>
          <li> <a href="events">Events</a></li>
          <li> <a class="active" href="adopt.html">Adoption</a></li>
          <li> <a href="res">Rescue</a></li>
          <li class="hovering">
            <a class="dropbtn">Login / Signup ⌄</a>
            <div class="form-dropdown">
              <a href="login">LogIn</a>
              <a href="signup">Signup</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <div class="body">
    <div class="adopt-container">
      <div class="row">
        <div class="col">
          <div class="content">
            <h2 class="header">They Can't Wait to See You!</h2>
            <p class="description">
              Rescued from cruelty and neglect, the dogs are brought in at the Wander Pets shelter for rehabilitation.
              Upon full recovery, we find them a new home and family to love them furever. #AdoptDontShop
            </p>
            <a href='https://forms.gle/jhQSe1GQrj7Qt5Wy5'><button class="red-btn">ADOPTION FORM</button></a>
          </div>
        </div>
        <div class="col">
          <img src="/images/adopt/dog1.jpg" alt="">
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <img src="/images/adopt/dog2.jpg" alt="">
        </div>
        <div class="col">
          <div class="content-mt-50">
            <h2 class="header">Why Adopt a Rescue Dog?</h2>
            <p class="description">
              When you open your doors to welcome a rescue dog as part of your family, you're saving more than just one
              life. By adopting, you’re helping make space for another animal in need and helping to give them the
              opportunity to become beloved pets. #AdoptDontShop
            </p>
          </div>
        </div>
      </div>
      <hr>
      <h2 class="header center mt-40">How to Adopt from Wander Pets</h2>
      <p class="description center w-50">
        You’re one step closer toward giving our lovely rescues the life that they deserve. Adopt a rescue now and
        give them belly rubs everyday!
      </p>
      <div class="row mt-40">
        <div class="col-4 center">
          <img src="/images/adopt/email.png" alt="email">
          <h3>Application</h3>
          <p>Accomplish and fill out the Wander Pet Dog Rehoming Application Form to express your desire to adopt a
            chosen pet.</p>
        </div>
        <div class="col-4 center">
          <img src="/images/adopt/chat.png" alt="chat">
          <h3>Evaluation</h3>
          <p>Upon receipt of the form, we'll schedule an interview to assess if you and your chosen pet are a good
            match.</p>
        </div>
        <div class="col-4 center">
          <img src="/images/adopt/home.png" alt="home">
          <h3>Rehoming</h3>
          <p>Congratulations! You may schedule a pick up of your pet at our shelter or we may deliver it to your
            address.</p>
        </div>
      </div>
    </div>
  </div>





  <!--   <script src="https://replit.com/public/js/replit-badge.js" theme="blue" defer></script>  -->
  <script src="adoptscript.js"></script>
</body>
<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="8f3f634f-5c6a-418d-b8d2-e73c72b3a7d0";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
</html>