<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>replit</title>
  <link href="res.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body>
  <header>
    <div class="container">
      <div class="search">
        <input type="search" placeholder="Search">
        <i class="uil uil-search search-icon"></i>
      </div>
      <div class="navbar">
        <ul>
          <li> <a href="../index.html">Home</a></li>
          <li> <a href="vol/vol.html">Volunteer</a></li>
          <li> <a href="tr/tr.html">Tips&Recommendations</a></li>
          <li> <a href="events/events.html">Events</a></li>
          <li> <a class="active" href="adopt/adopt.html">Adoption</a></li>
          <li> <a href="res.html">Rescue</a></li>
        </ul>
      </div>
    </div>   
  </header>
  <div>
    <link href="./adoptstyle.css" rel="stylesheet" />
    <div class="adopt-container">
      <div class="adopt-blog-post-card">
        <div class="adopt-container01">
          <img
            alt="image"
            src="/images/adopt/dog1.jpg"
            class="adopt-image"
          />
        </div>
        <div class="adopt-container02">
          <div class="adopt-container03"></div>
          <h1 class="adopt-text">They Can&apos;t Wait to See You!</h1>
          <span class="adopt-text01">
            Rescued from cruelty and neglect, the dogs are brought in at the
            Wander Pets shelter for rehabilitation. Upon full recovery, we find
            them a new home and family to love them furever. #AdoptDontShop
          </span>
          <a
            href="https://forms.gle/U9c15TnVmWgYnmNG7"
            target="_blank"
            rel="noreferrer noopener"
            class="adopt-link button"
          >
            Adoption Form
          </a>
        </div>
      </div>
      <div class="adopt-blog-post-card1">
        <div class="adopt-container04">
          <img
            alt="image"
            src="/images/adopt/dog2.jpg"
            class="adopt-image1"
          />
        </div>
        <div class="adopt-container05">
          <div class="adopt-container06"></div>
          <h1 class="adopt-text02">Why Adopt a Rescue Dog?</h1>
          <span class="adopt-text03">
            When you open your doors to welcome a rescue dog as part of your
            family, you&apos;re saving more than just one life. By adopting,
            you’re helping make space for another animal in need and helping to
            give them the opportunity to become beloved pets. #AdoptDontShop
          </span>
        </div>
      </div>
      <div class="adopt-steps">
        <h1 class="adopt-text04">How to Adopt from Wander Pet</h1>
        <span class="adopt-text05">
          <span>
            You’re one step closer toward giving our lovely rescues the life that
            they deserve. Adopt a rescue now and give them belly rubs everyday!
          </span>
          <br />
        </span>
        <div class="adopt-container07">
          <div class="adopt-step">
            <div class="adopt-container08">
              <div class="adopt-line"></div>
              <div class="adopt-container09">
                <img
                  alt="image"
                  src="/images/adopt/email.png"
                  class="adopt-image2"
                />
              </div>
              <div class="adopt-line1"></div>
            </div>
            <div class="adopt-container10">
              <h1 class="adopt-text08">Application</h1>
              <span class="adopt-text09">
                <span>Accomplish and fill out the</span>
                <span class="adopt-text11">
                  Wander Pet Dog Rehoming Application Form
                </span>
                <span>to express your desire to adopt a chosen pet.</span>
                <br />
              </span>
            </div>
          </div>
          <div class="adopt-step1">
            <div class="adopt-container11">
              <div class="adopt-line2"></div>
              <div class="adopt-container12">

                <img
                  alt="image"
                  src="/images/adopt/chat.png"
                  class="adopt-image3"
                />
              </div>
              <div class="adopt-line3"></div>
            </div>
            <div class="adopt-container13">
              <h1 class="adopt-text14">Evaluation</h1>
              <span class="adopt-text15">
                Upon receipt of the form, we&apos;ll schedule an interview to
                assess if you and your chosen pet are a good match.
              </span>
            </div>
          </div>
          <div class="adopt-step2">
            <div class="adopt-container14">
              <div class="adopt-line4"></div>
              <div class="adopt-container15">
                <img
                  alt="image"
                  src="/images/adopt/home.png"
                  class="adopt-image4"
                />
              </div>
              <div class="adopt-line5"></div>
            </div>
            <div class="adopt-container16">
              <h1 class="adopt-text16">Rehoming</h1>
              <span class="adopt-text17">
                Congratulations! You may schedule a pick up of your pet at our
                shelter or we may deliver it to your address.
              </span>
            </div>
          </div>
          <div class="adopt-step3"></div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  <!--   <script src="https://replit.com/public/js/replit-badge.js" theme="blue" defer></script>  -->
  <script src="script.js"></script>
</body>

</html>