<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wander Pets | Events</title>
  <link href="eventstyle.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body>
  <header>
    <div class="container">
      <div class="search">
        <input type="search" placeholder="Search">
        <i class="uil uil-search search-icon"></i>
      </div>
      <div class="navbar">
        <ul>
          <li> <a href="../index.html">Home</a></li>
          <li> <a href="../vol/vol.html">Volunteer</a></li>
          <li> <a href="../tr/tr.html">Tips&Recommendations</a></li>
          <li> <a class="active" href="events.html">Events</a></li>
          <li> <a href="../adopt/adopt.html">Adoption</a></li>
          <li> <a href="../res/res.html">Rescue</a></li>
        </ul>
      </div>
    </div>
  </header>


  <div>
  <link href="./eventstyle.css" rel="stylesheet" />
  <div class="events-fb">
    <span class="events-fbtext">WHAT'S NEW?</span>
<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FWanderPetsOrg%2F&tabs=timeline&width=700&height=672&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1727896354013650"
      width="700" 
      height="672" 
      style="border:none;overflow:hidden" 
      scrolling="no" 
      frameborder="0" 
      allowfullscreen="true" 
      allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
      </iframe>
  </div>
    
  <div>
  <link href="./eventstyle.css" rel="stylesheet" />    
  <div class="events-container">
    <span class="events-text">EVENT BULLETIN</span>
      <!-- Slideshow container -->
    <div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <div class="numbertext">1 / 2</div>
    <img src="/images/events.png" style="width:100%">
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 2</div>
    <img src="/images/events2.png" style="width:100%">
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>
  </div>
    
</div>
  <div class="footer">
    <div class="footer-content">
      <div class="footer-section.about"></div>
      <div class="footer-section.Connect"></div>
    </div>

    <div class="footer-bottom">
      &copy;2023 Wander Pets Organization. All rights Reserved.
    </div>
  </div>
  <script src="https://replit.com/public/js/replit-badge.js" theme="blue" defer></script>
  <script src="eventscript.js"></script>
</body>

</html>