<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Wander Pets | Home</title>
      <link href="style.css" rel="stylesheet"/>
      <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    </head>
    
    <body>
      <header>
        <div class="container">
           <div class="search">
            <input type="search" placeholder="Search">
            <i class="uil uil-search search-icon"></i>
          </div>
           <div class="navbar">
            <ul>
              <li> <a class="active" href="index">Home</a></li>
              <li> <a href="volunteer">Volunteer</a></li>
              <li> <a href="tr">Tips&Recommendations</a></li>
              <li> <a href="events">Events</a></li>
              <li> <a href="adopt">Adoption</a></li>
              <li> <a href="res">Rescue</a></li>
              <li class="hovering">
                <a class="dropbtn">Login / Signup ⌄</a>
                <div class="form-dropdown">
                  <a href="Login">LogIn</a>
                  <a href="Signup">Signup</a>
                </div>
              </li>
            </ul>
        </div>
        </div>
        <div class="title">
          <h1>ANIMAL HEALTHCARE, RESCUE, AND ADOPTION CENTER</h1>
        </div>
        <div class="button">
          <a href="adopt" class="btn"><b>FIND A PET TO ADOPT</a>
        </div>
      </header>
      <div class="footer"> 
        <div class="footer-content">
          <div class="footer-section.about"></div>
          <div class="footer-section.Connect"></div>
    
        </div>
        
        <div class="footer-bottom">
        &copy;2023 Wander Pets Organization. All rights Reserved.
        </div>
      </div>
      <script src="script.js"></script>
    </body>
    
    </html>