<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wander Pets | Volunteer</title>
  <link href="volstyle.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body>
  <header>
    <div class="container">
      <div class="search">
        <input type="search" placeholder="Search">
        <i class="uil uil-search search-icon"></i>
      </div>
      <div class="navbar">
        <ul>
          <li> <a  href="index">Home</a></li>
          <li> <a class="active" href="volunteer">Volunteer</a></li>
          <li> <a href="tr">Tips&Recommendations</a></li>
          <li> <a href="events">Events</a></li>
          <li> <a href="adopt">Adoption</a></li>
          <li> <a href="res">Rescue</a></li>
          <li class="hovering">
            <a class="dropbtn">Login / Signup ⌄</a>
            <div class="form-dropdown">
              <a href="Login">LogIn</a>
              <a href="Signup">Signup</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </header>

  <div class="vol-contents">
    <div class="vol-container">
      <div class="title">
        <h1>BE A PART OF THE WANDER PETS</h1>      
      </div>
      <div class="sub-title">
        As a wander pet volunteer, you will never run out of ways to help. Wherever your interests and talents lie, our
        lovely rescues always
        welcome a helping hand. From dog walking to maintaining the kennels, every task makes a huge impact in the lives of
        the animals.
      </div>
    </div>

    <div class="boxes">
      <div class="feat-container flip-card">
        <div class="card flip-card-inner">    
          <!-- front   -->
          <div class="card-contents flip-card-front">
            <img src="images/volunteer/dog-rehoming.png" >
            <div class="card-container">
              <h4><b>Dog Rehoming</b></h4>
            </div>
          </div>     
          <!-- back -->
          <div class="card-contents flip-card-back">
            <h4><b>Dog Rehoming</b></h4>
            <div class="card-container">
              <small>Do you love seeing our rescues happy finding their new family and home? The dog rehoming team scouts for a potential dog adopter and assists in the process until the dogs are finally rehomed.</small>
            </div>
          </div> 
        </div>
      </div>

      <div class="feat-container flip-card">
        <div class="card flip-card-inner">    
          <!-- front   -->
          <div class="card-contents flip-card-front">
            <img src="images/volunteer/kenneling-&-socialization.png" >
            <div class="card-container">
              <h4><b>Kenneling & Socialization</b></h4>
            </div>
          </div>     
          <!-- back -->
          <div class="card-contents flip-card-back">
            <h4><b>Kenneling & Socialization</b></h4>
            <div class="card-container">
              <small>Ready to get your hands dirty?The kenneling and socialization team takes part in feeding, bathing, grooming, maintenance of the kennels, dog walking, and more as part of the dogs' rehabilitation.</small>
            </div>
          </div> 
        </div>
      </div>

      <div class="feat-container flip-card">
        <div class="card flip-card-inner">    
          <!-- front   -->
          <div class="card-contents flip-card-front">
            <img src="images/volunteer/pep-squad.png" >
            <div class="card-container">
              <h4><b>P.E.P Squad</b></h4>
            </div>
          </div>     
          <!-- back -->
          <div class="card-contents flip-card-back">
            <h4><b>P.E.P Squad</b></h4>
            <div class="card-container">
              <small>Do you enjoy being with kids?The PEP (Pet Education Program) Squad reaches out to different schools, barangays, and universities to educate the youth about responsible pet ownership, rabies and bite prevention, animal welfare, and more.</small>
            </div>
          </div> 
        </div>
      </div>

      <div class="feat-container flip-card">
        <div class="card flip-card-inner">    
          <!-- front   -->
          <div class="card-contents flip-card-front">
            <img src="images/volunteer/events.png" >
            <div class="card-container">
              <h4><b>Events & Funddraisers</b></h4>
            </div>
          </div>     
          <!-- back -->
          <div class="card-contents flip-card-back">
            <h4><b>Events & Funddraisers</b></h4>
            <div class="card-container">
              <small>Do you enjoy going to events and meeting new people? Joing our events & fundraisers team where you could take part in event marshaling, merch selling, sponsors and event partners sourcing, and coordination with sponsors and participants.</small>
            </div>
          </div> 
        </div>
      </div>

      <div class="feat-container flip-card">
        <div class="card flip-card-inner">    
          <!-- front   -->
          <div class="card-contents flip-card-front">
            <img src="images/volunteer/creatives.png" >
            <div class="card-container">
              <h4><b>Creatives</b></h4>
            </div>
          </div>     
          <!-- back -->
          <div class="card-contents flip-card-back">
            <h4><b>Creatives</b></h4>
            <div class="card-container">
              <small>Express your creativity while supporting our cause! The creatives team works together to produce publishing materials in the form of social media posts, fliers, tarpaulins, Vlogs, and more to communicate our advocacy to the people.</small>
            </div>
          </div> 
        </div>
      </div>

      <div class="feat-container flip-card">
        <div class="card flip-card-inner">    
          <!-- front   -->
          <div class="card-contents flip-card-front">
            <img src="images/volunteer/veterinary.png" >
            <div class="card-container">
              <h4><b>Veterinary Care</b></h4>
            </div>
          </div>     
          <!-- back -->
          <div class="card-contents flip-card-back">
            <h4><b>Veterinary Care</b></h4>
            <div class="card-container">
              <small>Practicing veterinarians and student interns are welcome to join! The veterinary care team attends to health checks on kennel rounds, facilitate diagnosis and treatment including vaccination and lab works, help in the quarantine process and rehabilitation of newly-rescued dogs, and participates in AKF-organized veterinary missions.</small>
            </div>
          </div> 
        </div>
      </div>
  
      <div class="feat-container flip-card">
        <div class="card flip-card-inner">    
          <!-- front   -->
          <div class="card-contents flip-card-front">
            <img src="images/volunteer/claws.png" >
            <div class="card-container">
              <h4><b>CLAWS</b></h4>
            </div>
          </div>     
          <!-- back -->
          <div class="card-contents flip-card-back">
            <h4><b>CLAWS</b></h4>
            <div class="card-container">
              <small>Do you know RA. 8485 by heart? The CLAWS volunteer is waiting for you. CLAWS provide free legal assistance for animal-related cases, lobby for more comprehensive rules and laws for the animals, and give consultations on animal welfare concerns.</small>
            </div>
          </div> 
        </div>
      </div>

    </div>

  </div>

  

  <div class="footer">
    <div class="footer-content">
      <div class="footer-section.about"></div>
      <div class="footer-section.Connect"></div>

    </div>

    <div class="footer-bottom">
      &copy;2023 Wander Pets Organization. All rights Reserved.
    </div>
  </div>
  <script src="volscript.js"></script>
</body>

</html>